* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue';
}
$Black: #1c1c1c;
main {
  padding: 10vw;
  .timer {
    color: $Black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 55vw;
    span {
      display: flex;
      line-height: 0.8;
    }
  }
  .speed-holder,
  .longitude-holder,
  .latitude-holder {
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      color: $Black;
      font-size: 10vw;
    }
    p {
      opacity: 0.6;
      color: #fd5052;
      font-size: 10vw;
    }
  }
}
